# virtual environments
.venv/
venv/

# python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# macOS
.DS_Store

# testing
.pytest_cache/

# environment variables
.env

# vscode
.vscode/

# database temp files
*.db-journal

